body {
    background-color: yellow;
}
header{
    background-color: blue;
    color:white;
}
footer{
    position:absolute;
    bottom:0px;
    border-top: 1px solid ;
    border-bottom: 1px solid ;
    width:100%;
}
.menu_item{
    display: inline-block;
    width:24%;
    color: grey;
    background-color: black;
    text-align: center;
    font-size: 20px;
    margin-top: 1px;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
    height: 40px;
}
a.menu_item_link{
    color: white;
}
article{
    display: block;
    background-color: white;
    border-radius:25px;
    padding:10px 30px;
    margin-bottom: 10px;
}